@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
	font-family: "Rubik", "Nunito Sans", sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

li {
	max-width: 50%;
	background-color: rgba(255, 255, 255, 0.4);
	color: #333446;
	border-radius: 8px;
}

.imaged {
	background-repeat: no-repeat;
	background-size: cover;
}

.post {
	display: flex;
	flex-direction: column;
}

.post--right {
	margin-left: auto;
	align-self: flex-end;
}

.post__header {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.post__header--user {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: rgba(255, 255, 255, 0.6);
	width: 100%;
	padding: 4px 8px;
}

.post__header--reply {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: rgba(252, 188, 97, 0.7);
	width: 100%;
	padding: 4px 8px;
}

.post__text {
	padding: 4px 8px;
}

.post__text__admin {
	text-align: center;
	padding: 4px 8px;
}
